- const page = 'events'
include ../mixins/card
include ../mixins/user

html
  include ../partials/head.pug
  head
    title TCG | Events
  body
    .container.d-flex.flex-column
      include ../partials/header.pug
      .header.d-flex.flex-column.justify-content-between.align-items-center(class=`${page === 'index' ? 'index' : ''}`)
        .server-info.d-flex.align-items-center.flex-column.text-center
          h2 MegaBowl
      
      .inner.d-flex.flex-column
        section.d-flex.justify-content-center.flex-wrap
          div.embed-responsive.embed-responsive-16by9.mt-3
            embed.embed-responsive-item(
              src='https://www.youtube.com/embed/n0m-tuMJcok'
              allowfullscreen='true'
              scrolling='no'
              allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture')
          .text.mx-auto
            h4.text-center When is this epic showdown?
            p.text-center
              | Each match time will be announced, along with the commanders that will be participating. The Tournament will be on August 1st.
          .text.mx-auto
            h4.text-center Creators you say?
            p.text-center
              | Of course! Several amazing Magic: The Gathering content creators will be sharing their time and creative energy to make some super cool, but not overly high-powered, EDH decks to bring Magic alive in a tournament.
            p.text-center
              | Each creator team will be choosing one of the commanders they spun the Mega Wheel for, and crafting a deck around them.
            div.creators.text-center
              div.creator.mb-5
                h5 Cardboard Command &nbsp;
                  a.links-suppressor(href='https://linktr.ee/cardboardcommand')
                    i.fas.fa-external-link-alt.fa-sm
                span
                  +card('Dakkon Blackblade')
                  | &nbsp;or&nbsp;
                  +card('Ruhan of the Fomori')
                  | &nbsp;or&nbsp;
                  +card('Rona, Disciple of Gix')
              div.creator.mb-5
                h5 Elder Dragon Skypelander &nbsp;
                  a.links-suppressor(href='https://linktr.ee/elderdragonskypelander')
                    i.fas.fa-external-link-alt.fa-sm
                span
                  +card('Kambal, Consul of Allocation')
                  | &nbsp;or&nbsp;
                  +card('Ishkanah, Grafwidow')
                  | &nbsp;or&nbsp;
                  +card('Dalakos, Crafter of Wonders')
              div.creator.mb-5
                h5 Into the 99 Podcast &nbsp;
                  a.links-suppressor(href='https://linktr.ee/Intothe99')
                    i.fas.fa-external-link-alt.fa-sm
                span
                  +card('Omnath, Locus of the Roil')
                  | &nbsp;or&nbsp;
                  +card('Sydri, Galvanic Genius')
                  | &nbsp;or&nbsp;
                  +card('Thantis the Warweaver')
              div.creator.mb-5
                h5 The Canada Geeks &nbsp;
                  a.links-suppressor(href='https://linktr.ee/Thecanadageeks')
                    i.fas.fa-external-link-alt.fa-sm
                span
                  +card('Sol\'kanar')
                  | &nbsp;or&nbsp;
                  +card('Feldon of the Third Path')
                  | &nbsp;or&nbsp;
                  +card('Rashmi, Eternities Crafter')
                  
        section.d-flex.justify-content-center.flex-wrap
          .text
            h4 Help Brennan pick his Commander!
          .text.mx-auto.embed-responsive.embed-responsive-16by9
            
            iframe(src="https://strawpoll.com/embed/oxq2w64pq" allowfullscreen frameborder="0" height="403")

      include ../partials/footer.pug